* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    color: #23272a;
}

/* Utility */

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

.w-10{
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100% ;
}

.m-4 {
    margin: 4vh 0;
}

.mbottom-2 {
    margin-bottom: 2vh;
}

.m-auto {
    margin: auto;
}

.padd-section {
    padding: 10vh 0;
}

.text-main-right {
    padding: 3vh 0 3vh 6vw;
}

.text-main-left {
    padding: 3vh 6vw 3vh 0;
}

.lh-5 {
    line-height: 5vh;
}

.text-center {
    text-align: center;
}

.va-mid {
    vertical-align: middle;
}

.white {
    color: white;
}

.dark-gray {
    color: #23272a;
}

.light-blue{
    color: #5865f2;
}

.bg-white {
    background-color: white;
}

.bg-dark-gray {
    background-color: #23272a;
}

.bg-light-gray {
    background-color: #f6f6f6;
}

.bg-light-blue {
    background-color: #5865f2;
}

.floating {
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both ;
}

a {
    text-decoration: none;
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 3vh;
}

.centratura {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Rule */

header {
    padding-top: 1vh;
    background-color: #404eed;
}

.top-header {
    margin: 1vh auto;
}

nav li {
    display: inline-block;
    margin: 0 1vw;
    list-style-type: none;
}

nav li a {
    color: white;
    font-size: 0.7rem;
}

nav li a:hover {
    text-decoration: underline;
}

.collegamenti-head {
    text-align: right;
}

.collegamenti-head > a.btn {
    font-size: 0.7rem;
    font-weight: bold;
    color: #23272a;
}

.collegamenti-head > a.btn:hover {
    color: #5865f2;
    text-decoration: underline;
}

.jumbo-tron {
    text-align: center;
    height: 60vh;
    position: relative;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
}

.jumbo-tron a.btn {
    font-size: 0.8rem;
    margin: 0 1vw;
}

.jumbo-tron a.btn:hover {
    color: #5865f2;
    text-decoration: underline;
}

#first-sec {
    position: relative;
}

#second-sec {
    position: relative;
}

#third-sec {
    position: relative;
}

#fourth-sec {
    position: relative;
}

#fourth-sec h3 {
    padding-top: 3vh;
    background-image: url(../img/stars.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

.collegamenti-main {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#fourth-sec a.btn {
    font-size: 0.8rem;
}

#fourth-sec a.btn:hover {
    color: #23272a;
    text-decoration: underline;
}

footer li{
    line-height: 1.5rem;
    font-size: 0.7rem;
    width: calc(100% / 4 - 4vw);
    list-style-type: none;
}

footer h3 {
    font-size: 1.5rem;
}

li.floating {
    margin: 0 2vw;
}

footer h4 a {
    color: #5865f2;
}

footer li > a {
    color: white;
}

#language img {
    height: 2vh;
    vertical-align: middle;
}

#language select {
    font-family: 'Rubik', sans-serif;
    border-color: #23272a;
}

.social i {
    margin-right: 2vw;
}

footer hr {
    border: 1px solid #5865f2;
    margin: 2vh auto;
}

.collegamenti-footer {
    font-size: 0.7rem;
    text-align: right;
    float: right;
}

.collegamenti-footer a:hover {
    color: #23272a;
    text-decoration: underline;
}

.wave svg{
    color: #f6f6f6;
    display: block;
}

.wave.reverse svg {
    color: white;
    background-color: #f6f6f6;
}